.search-by-name {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  width: 100%;
}

.search-by-name-input {
  background-color: #807065;
  border-radius: 5px;
  color: #e2dbc8;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  line-height: inherit;
  width: 150px;
}

.search-by-name-button {
  background-color: #e2dbc8;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  margin-left: 2px;
  line-height: inherit;
}
