main {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  margin: auto;
  max-width: 845px;
  /* width: 100%; */
}

/* aside {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
} */
