.total-level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 34px;
  color: yellow;
  font-size: 13px;
  position: relative;
}
